@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade-in {
  from{
    transform: translateY(50px);
    filter: blur(10px);
  }
}
@keyframes eye {
  0%{
    height: 0px;
    width: 0px;
  }
  10%{
    height: 200px;
  }
}

.fade-in{
  animation: fade-in 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
@keyframes increase {
  0%{
    scale: 0;
  }
  100%{
    scale: 1;
  }
}
.increase{
  animation: increase 2s cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-delay: 2s;
  scale: 0;
  animation-fill-mode: forwards;
}

@keyframes fade-delay {
  to{
    opacity: 1;
  }
}
.fade-delay{
  animation: fade-delay 2s linear;
  animation-delay: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}